<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="remote.css">
</head>

<body>
    <div class="remote_container">
        <div class="commandContainer">
            <div class="command">
                <button value="power" class="power" id="power"><i class="fa-solid fa-power-off"></i></button>
                <button value="mute" class="mute" id="mute"><i class="fa-solid fa-volume-xmark"></i></button>
                <div class="arrow_container">
                    <button value="left" class="left"><i class="fa-solid fa-chevron-left"></i></button>
                    <button value="right" class="right"><i class="fa-solid fa-chevron-right"></i></i></button>
                    <button value="up" class="up"><i class="fa-solid fa-chevron-up"></i></button>
                    <button value="down" class="down"><i class="fa-solid fa-chevron-down"></i></button>
                    <button value="select" class="select"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>
        </div>
        <div class="chvolcontainer">
            <div class="channel">
                <button value="chup" class="chup" disabled="disabled"><i class="fa-solid fa-caret-up"></i></button>
                <button value="chdown" class="chdown" disabled="disabled"><i class="fa-solid fa-caret-down"></i></button>
            </div>
            <button value="back" class="back"><i class="fa-solid fa-undo" aria-hidden="true"></i></button>
            <button value="home" class="home"><i class="fa-solid fa-house"></i></button>
            <div class="vol">
                <button value="volumeUp" class="volup"><i class="fa-solid fa-volume-high"></i></button>
                <button value="volumeDown" class="voldown"><i class="fa-solid fa-volume-low"></i></button>
            </div>
        </div>
        <div class="serviceContainer">
            <button value="netflix" class="service netflix">Netflix</button>
            <button value="hulu" class="service hulu">Hulu</button>
            <button value="disney" class="service disney">Disney</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="remote.js"></script>

</html>