<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"  href="remote.css"> 
    </head>
    <body>
        <div class="remote_container">
        <div class="commandContainer">
            <div class="command">  
                <button id="power" class="power" value="turnOn">Power</button>
                <button id="mute" class="mute">Mute</button>
                <div class="arrow_container">
                <button id="left" class="left">Left</button>
                <button id="right" class="right">Right</button>
                <button id="up" class="up">Up</button>
                <button id="down" class="down">Down</button>
                <button id="select" class="select">Select</button>
                </div>
            </div>
        </div>
        <div class="chvolcontainer">
            <div class="channel">
                <button id="chup" class="chup" disabled="disabled">CH Up</button>
                <button id="chdown" class="chdown" disabled="disabled">CH Down</button>
            </div>
            <button id="back" class="back">Back</button>
            <button id="home" class="home">Home</button>
            <div class="vol">
                <button id="volumeUp" class="volup">Vol Up</button>
                <button id="volumeDown" class="voldown">Vol Down</button>
            </div>
        </div>
        <div class="serviceContainer">
            <button id="netflix" class="service netflix">Netflix</button>
            <button id="hulu" class="service hulu">Hulu</button>
            <button id="disney" class="service disney">Disney</button>
            <button id="plex" class="service plex">Plex</button>
        </div>
</div>
    </body>
    <script type="text/javascript" src="remote.js"></script>
</html>